div .Exercise-home-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border: solid 2px black;
    max-width: 35vw;
    max-height: 25vh;

}

p.Exercise-p {
    font-size: x-large;
    margin: 10px;
    padding: 0;
    width: 98%;
    min-width: fit-content;
    height: 10%;
}

span.Exercise-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin: 10px;
    padding: 0;
    width: 98%;
    height: 10%;
}

button.Exercise-button {
    background-color: #284dd2bd;
    max-width: fit-content;
    max-height: fit-content;
    min-width: 20%;
    min-height: 98%;

    color: white;
    text-align: center;
    display: inline-block;
    font-size: xx-large;
    margin: 10px;
    border: 0;
    padding: 0;
    cursor: pointer;

}

input.Exercise-slider {
    min-width: fit-content;
    min-height: 4%;

    accent-color: rgb(219, 158, 38);

    width: 90%;
    height: fit-content;

    min-width: fit-content;
    min-height: fit-content;
    margin: 0;
    padding: 0;
}


input#title {
    text-wrap: wrap;
}

button:hover {
    background-color: #0e298d;
}

button:active {
    background-color: rgb(17, 93, 255);
    transform: translateZ(4px) scale(1.02);

}